<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Info</title>

    <style>
        table{
            width: 100%;
            text-align: center;
            background-color: aqua;
            
        }
        th,td{
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>

  </head>
  <body>
    <h1>Users Info</h1>

    <table>
      <thead>
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>User Password</th>
          <th>Actions</th>
        </tr>
      </thead>

      <!-- ejs Notations -->
      <!-- <%= %> -  only one variable get from database -->
      <!-- <%- %> -  object ya array from backend -->
      <!-- <% %>  - used for define while, for loop -->

      <tbody>
        <% if(users.length > 0) { %> 
            <% for(let i = 0; i < users.length; i++){ %>

        <tr>
          <td><%- users[i].id %></td>
          <td><%- users[i].username %></td>
          <td><%- users[i].email %></td>
          <td><%- users[i].password %></td>
          <td>
            <a href="/delete-user?id=<%- users[i].id %>">Delete</a>
            <a href="/update-user?id=<%- users[i].id %>">Update</a>
          </td>
        </tr>

        <% } %> 
        <% }else{ %>

        <tr>
          <td> Data Not Found!!</td>
        </tr>

        <% } %>
      </tbody>
    </table>
  </body>
</html>
